title {
  text-shadow: 3px 2px yellow;
}
body {
  text-align: center;
  font-family: monospace;
  background-color: #cfd8dc;
  font-family: "Roboto", sans-serif;
}
h1 {
  color: #0d47a1;
}
h2 {
  color: #0d47a1;
}
h3 {
  color: #0d47a1;
}
p {
  font-size: 20px;
  color: #ff7043;
}
img {
  border: 3px solid #eceff1;
  border-radius: 4px;
  padding: 5px;
  width: 15%;
  margin-top: 40px;
}
